<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="angular.js"></script>
<body>

    <div ng-app="myApp" ng-controller="namesCtrl" align="center">
    
        <table border="1" width="100%" class = "table table-hover">
            <tr>
                <th>USER_NAME</th>
                <th>FATHER_NAME</th>
                <th>EMAIL</th>
                <th>BRANCH</th>
                <TH>CONTACT_NO</TH>
                <TH>UPDATE</TH>
                <TH>DELETE</TH>

            </tr>
        <tr ng-repeat="x in students">
        <td>
            {{x.USER_NAME}}
        </td>
        <td>
            {{x.father_name}}
        </td>
        <td>
            {{x.email}}
        </td>
        <td>
            {{x.branch}}
        </td>
        <td>
            {{x.phone_no}}
        </td>
        <td>
        <button  class="btn btn-success" ng-click="updation(x.USER_NAME,x.father_name,x.email,x.branch,x.phone_no)">UPDATE</button></td>
                
        </td>
        <td><button  class="btn btn-danger" ng-click="deletion(x.USER_NAME)">DELETE</button>
        </td>
        </tr>
        </table>
        
        <br><br>
        <br><br><br>
    <a href="http://localhost/files/insert_student.html" target="_blank"><button align="center">INSERT A STUDENT</button></a><br><br>
    <a href="http://localhost/files/ans_query.html" target="_blank"><button align="center">CLICK TO ANS QUERY</button></a><br><br>
    <a href="http://localhost/files/portallogin.html"><butto align="center">LOGOUT</butto></a>
    <br><br> 
        </div>

</body> 


</html>
