<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 
<head>
	 <meta charset="UTF-8">
    <title>UPDATE STUDENT</title>
</head>

<link rel="stylesheet" type="text/css" href="login.css">
<script src="update_student.js"></script>
<body>
  <div ng-class="main" ng-app="update" ng-controller="updateCtrl">
 
    <p ng-class="sign" align="center"><b>UPDATE</b> </p>
    <input ng-class="un" type="text" align="center" ng-model="USER_NAME"  placeholder="USER_NAME" required/><br>
    <input ng-class="fn" type="text" align="center" ng-model="father_name"  placeholder="FATHER NAME"required/><br>
    <input ng-class="em" type="text" align="center" ng-model="email" placeholder="EMAIL" required/><br>
    <input ng-class="br" type="text" align="center" ng-model="branch" placeholder="BRANCH" required/><br>
    <input ng-class="cn" type="text" align="center" ng-model="phone_no" placeholder="CONTACT NUMBER" required/><br>
    
  <button class ="submit" ng-click="update()">UPDATE</button> 
    

    </div>   
</body>