<!DOCTYPE html>
<html lang="en">
<head>
	 <meta charset="UTF-8">
    <title>STUDENT MANAGEMENT SYSTEM</title>
    <link rel='icon' type='jpg' href='icon.jpg'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>    
    
    <link rel="stylesheet" type="text/css" href="login.css">
    <script src="backend_student.js"></script>
</head>

<body align="center">
  <div ng-app="student" ng-controller="student_ctrl">

  <ul>

    <li><b><button class="button" ng-click="login()">WELCOME STUDENT</li>
    <li><button class="button" ng-click="query()"><span>RAISE QUERY</span></button>
    <li><button class="button" ng-click="logout()"><span >LOGOUT</span></button>
    
    
  </ul>
  <br>
  <br>
  <br>

  <br>
  <br>
  
  <table  class = "customers"> 
    <b>
    <tr>
      <th>USER_NAME</th>
      <th>PASSWORD</th>
      <th>FATHER_NAME</th>
      <th>EMAIL</th>
      <th>BRANCH</th>
      <TH>CONTACT_NO</TH>
      <th>QUERY STATUS</th>
    </tr>
    <tr ng-repeat="x in students">
      <td>
          {{x.USER_NAME}}
      </td>
      <td>
          {{x.PASSWORD}}
      </td>
      <td>
          {{x.father_name}}
      </td>
      <td>
          {{x.email}}
      </td>
      <td>
          {{x.branch}}
      </td>
      <td>
          {{x.phone_no}}
      </td>
      <td>
        {{x.STATUS}}
      </td>
    </tr>
    </b>
  </table>
  <br><br><br><br><br><br><br>
 
<button id="change_password" class="button" ng-click="password()"><span>CHANGE PASSWORD</span></button><br><br><br><br>

<button class="button"  ng-show="update()" ng-click="redirect()"><span>CLICK TO UPDATE</span></button>
<div class="footer">
  <p class="sign1">KIET GROUP OF INSTITUTIONS</p>
</div>
</div>

</body>