<!DOCTYPE html>
<html lang="en">
<head>
  
	 <meta charset="UTF-8">
    <title>CHANGE PASSWORD</title>
    <link rel='icon' type='png' href='icon.jpg'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<link rel="stylesheet" type="text/css" href="login_student.css">
<script src="changepassword.js"></script>
</head>
<body>
  
  <div class="main" ng-app="pass" ng-controller="pass_ctrl"> 
  	
    <p class="sign" align="center"><b>CHANGE PASSWORD</b> </p>

  
      <input class="pass" type="password" align="center" ng-model="PASSWORD" placeholder="ENTER NEW Password" required>
      
         <button class ="button1" id="login" ng-click="subFunction()"><span>CHANGE PASSWORD</span></button> 
         <p color="red" id="p01"></p>

          
                
    </div>
     
</body>

</html>